<%-include ("partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div id="pq">
            <h1>Punjab Engineering College</h1>
            <p>Welcome to the Attendance App of PEC!</p>
        </div>
        
    </header>
</div>



 <div id="footer">
                <p>Minor Project 2020</p>
                <p>Electronics And Communication Engineering</p>
        </div>
<%-include ("partials/footer") %>