<%-include ("partials/header") %>

<div class="container">
    <header >
        <div id="tu">
            <h1>Hello Professor</h1>
            <p>Here is the attendance log of ECE semester 5, 2022 batch. Please select your subject.</p>
             <div >
                 <a class="btn btn-primary" href="/attendance/subjects/COA">Computer Organization and Architecture</a>
                 <a class="btn btn-primary" href="/attendance/subjects/ES">Embedded Systems</a>
                 <a class="btn btn-primary" href="/attendance/subjects/WC">Wireless Communication</a>
                 <a class="btn btn-primary" href="/attendance/subjects/AC">Advanced Communication</a>
            </div>
        </div>
       
    </header>
</div>





<%-include ("partials/footer") %>